body {
  background-image: url(../images/zurich.JPG);
  background-size: 40%;
  background-repeat: no-repeat;
  background-color: rgb(244, 241, 241);
  font-family: 'Rambla', sans-serif;
}

h1 {
  color: black;
  font-size: 30px;
  font-family: 'Oswald', sans-serif;
}

h6 {
  color: #F68338;
  font-size: 12px;
  margin-bottom: 10px;
  letter-spacing: 2px;
  font-family: 'Oswald', sans-serif;
}

h5 {
  color: #F68338;
  font-size: 15px;
  text-transform: uppercase;
}

ul {
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
  list-style: none;
}

.contact {
  margin-left: 500px;
}

@media screen and (max-width: 375px) {
  .header1 {
    margin-left: 150px;
    margin-top: 0;
  }
  img {
    display: inline-flex;
    margin-top: 10px;
  }
  .cardStart {
    margin-top: 250px;
  }

  ul {
    width: 40px;
    display: flex;
  }
  .nav1 {
    position: absolute;
  }
  .timeL {
    float: left;
  }
  .skills {
    margin-top: 150px;
    margin-left: 0%;
    width: 100%;
  }
  .timeline ul {
    flex-direction: column;
    width: 100%;
    float: none;
  }
  .container {
    flex-direction: column;
    width: 100%
  }
  .iH {
    margin-top: 100px;
  }
  .social {
    flex-direction: column;
  }
}

.styling {
  background-color: #ffffff;
  box-shadow: 11px 7px 16px #eeeeee;
  border: 0;
  text-align: left;
}

.ctag {
  margin-top: 10px;
}

.btn {
  background-color: #F68338;
  color: #ffffff;
  float: left;
}
.social {
  margin-top: 40px;
  list-style: none;
}
.folio {
  margin-top: 10px;
}

nav ul li a:hover {
  color: #F68338;
  text-decoration: underline;
}

.about {
  padding: 20px;
  font-size: 15px;
}

.container {
  margin-top: 100px;
  width: 100%;
}

.image1 {
  max-height: 300px;
  width: auto;
  object-fit: contain;
  padding-top: 20px;
}

.mainImg {
  width: auto;
  height: 50px;
}

label {
  float: left;
  color: #F68338;
  text-transform: uppercase;
  font-size: 15px;
}

.smIcons {
  height: 20px;
  width: 20px
}

ul li a {
  color: #bebaba;
  text-decoration: none;
}

ul li a:hover {
  color: #F68338;
  text-decoration: underline;
}